body {
  font-family: Arial, sans-serif;
  background-color: #e6ccff !important;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  background: white !important;
  padding: 2rem;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.input-section {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 20px 20px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: blue;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.completeBtn {
  margin-right: 5px;
}

button {
  border: none;
  border-radius: 10px;
}

button:hover {
  opacity: 2;
}
